* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

.vertical-line {
  width: 0.1rem;
  height: 8.4rem;
  background-color: #87879d;
  margin: 6.4rem auto 1.5rem auto;
  opacity: 0.25; }

.number {
  display: inline;
  border: 1px solid rgba(135, 135, 158, 0.25);
  background-color: white;
  border-radius: 50%;
  color: #87879d;
  font-size: 1.6rem;
  padding: 1.5rem;
  margin: 0 auto;
  font-weight: 900; }

main {
  text-align: center; }
  main .image-logo {
    margin: 4.8rem 0 5.4rem 0; }
  main .image-hero {
    background-image: url("../assets/tablet/image-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    padding-top: 40%; }
  main .main__heading--primary {
    font-size: 4rem;
    line-height: 4.4rem;
    width: 70%;
    margin: 4.8rem auto 0 auto;
    color: #28283d;
    font-weight: 900; }
  main .main__text--primary {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 0 2.4rem 0 2.4rem;
    font-weight: 500;
    color: #87879d;
    margin-top: 2.4rem; }
  main .main__buttons {
    margin: 3.2rem auto 0 auto;
    display: flex;
    flex-direction: column; }
    main .main__buttons a {
      text-decoration: none;
      color: #fafafa;
      font-size: 1.6rem;
      border-radius: 50rem;
      margin: 0 auto; }
      main .main__buttons a:first-child {
        margin-bottom: 1.6rem; }
      main .main__buttons a.buttons-download {
        background-color: #4d96a9;
        padding: 1.6rem 4rem; }
        main .main__buttons a.buttons-download span {
          color: #8fe3f9; }
      main .main__buttons a.buttons-about {
        background-color: #855fb1;
        padding: 1.6rem 2.9rem; }
  main .image-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 6.4rem 2.4rem 0 2.4rem;
    grid-row-gap: 2.5rem;
    grid-column-gap: 2.4rem; }
    main .image-grid img {
      width: 100%;
      border-radius: 1rem; }
  main .main__heading--tertiary {
    text-transform: uppercase;
    color: #4d96a9;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    margin-top: 6.4rem; }
  main .main__heading--secondary {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 900;
    width: 80%;
    margin: 0 auto;
    margin-top: 2.4rem;
    color: #28283d; }
  main .main__text--secondary {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 0 2.4rem 0 2.4rem;
    font-weight: 500;
    color: #87879d;
    margin-top: 3.2rem; }

footer {
  text-align: center;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-color: #4d96a9;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover; }
  footer .footer__heading {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 900;
    width: 80%;
    margin: 0 auto;
    margin-top: 6.4rem;
    color: #fafafa; }
  footer .footer__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 0 2.4rem 0 2.4rem;
    font-weight: 500;
    color: #fafafa;
    margin-top: 2.4rem; }
  footer .footer__buttons {
    margin: 3.2rem auto 0 auto;
    padding-bottom: 7.2rem; }
    footer .footer__buttons a {
      text-decoration: none;
      color: #fafafa;
      font-size: 1.6rem;
      background-color: #855fb1;
      border-radius: 50rem;
      margin: 0 auto;
      padding: 1.6rem 4rem; }
      footer .footer__buttons a span {
        color: #d9b8ff; }
