$color-primary: #4d96a9;
$color-secondary: #8fe3f9;
$color-tertiary: #855fb1;
$color-quarternary: #d9b8ff;
$color-dark: #28283d;
$color-light: #fafafa;
$color-grey: #87879d;
$font-weight-light: 500;
$font-weight-bold: 900;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// General Layout

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.vertical-line {
  width: 0.1rem;
  height: 8.4rem;
  background-color: $color-grey;
  margin: 6.4rem auto 1.5rem auto;
  opacity: 0.25;
}

.number {
  display: inline;
  border: 1px solid rgba(135, 135, 158, 0.25);
  background-color: white;
  border-radius: 50%;
  color: $color-grey;
  font-size: 1.6rem;
  padding: 1.5rem;
  margin: 0 auto;
  font-weight: $font-weight-bold;
}

@mixin secondary-heading {
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: $font-weight-bold;
  width: 80%;
  margin: 0 auto;
}

@mixin paragraph {
  font-size: 1.6rem;
  line-height: 2.6rem;
  // width: 90%;
  margin: 0 2.4rem 0 2.4rem;
  font-weight: $font-weight-light;
}

// Main section

main {
  text-align: center;

  .image-logo {
    margin: 4.8rem 0 5.4rem 0;
  }
  .image-hero {
    background-image: url("../assets/tablet/image-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    // Very proud of this code
    height: 0;
    padding-top: 40%;
  }

  .main__heading--primary {
    font-size: 4rem;
    line-height: 4.4rem;
    width: 70%;
    margin: 4.8rem auto 0 auto;
    color: $color-dark;
    font-weight: $font-weight-bold;
  }

  .main__text--primary {
    @include paragraph();
    color: $color-grey;
    margin-top: 2.4rem;
  }

  .main__buttons {
    margin: 3.2rem auto 0 auto;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: $color-light;
      font-size: 1.6rem;
      //   background-color: $color-tertiary;
      border-radius: 50rem;
      margin: 0 auto;

      &:first-child {
        margin-bottom: 1.6rem;
      }

      &.buttons-download {
        background-color: $color-primary;
        padding: 1.6rem 4rem;

        span {
          color: $color-secondary;
        }
      }

      &.buttons-about {
        background-color: $color-tertiary;
        padding: 1.6rem 2.9rem;
      }
    }
  }

  .image-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    // width: 100%;
    margin: 6.4rem 2.4rem 0 2.4rem;
    grid-row-gap: 2.5rem;
    grid-column-gap: 2.4rem;

    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .main__heading--tertiary {
    text-transform: uppercase;
    color: $color-primary;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    margin-top: 6.4rem;
  }

  .main__heading--secondary {
    @include secondary-heading();
    margin-top: 2.4rem;
    color: $color-dark;
  }

  .main__text--secondary {
    @include paragraph();
    color: $color-grey;
    margin-top: 3.2rem;
  }
}

// Footer section

footer {
  text-align: center;
  position: relative;
  z-index: 1;

  .footer-number {
    top: -11rem;
  }

  .footer-overlay {
    position: absolute;
    top: 11rem;
    width: 100%;
    z-index: -1;
    min-height: 42.8rem;
    background: $color-primary;
    opacity: 0.9;
  }

  .footer-background {
    position: absolute;
    top: 11rem;
    width: 100%;
    z-index: -2;
    min-height: 42.8rem;
    background-image: url("../assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer__heading {
    @include secondary-heading();
    margin-top: 7.9rem;
    color: $color-light;
  }

  .footer__text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 2.4rem auto 0 auto;
    width: 80%;
    color: $color-light;
    font-weight: $font-weight-light;
  }

  .footer__buttons {
    margin: 4.8rem auto 0 auto;
    font-weight: $font-weight-bold;

    a {
      text-decoration: none;
      color: $color-light;
      font-size: 1.6rem;
      background-color: $color-tertiary;
      border-radius: 50rem;
      margin: 0 auto;
      padding: 1.6rem 4rem;

      span {
        color: $color-quarternary;
      }
    }
  }
}
