$color-primary: #4d96a9;
$color-secondary: #8fe3f9;
$color-tertiary: #855fb1;
$color-quarternary: #d9b8ff;
$color-dark: #28283d;
$color-light: #fafafa;
$color-grey: #87879d;
$font-weight-light: 500;
$font-weight-bold: 900;

body {
  font-family: "Red Hat Display", sans-serif;
}
