$color-primary: #4d96a9;
$color-primary--light: #8fe3f9;
$color-primary--hover: #71c0d4;
$color-secondary: #855fb1;
$color-secondary--light: #d9b8ff;
$color-secondary--hover: #b18bdd;
$color-dark: #28283d;
$color-light: #fafafa;
$color-grey: #87879d;
$font-weight-light: 500;
$font-weight-bold: 900;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
// max-width == is the device width < than
// min-width == is the device width > than
// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 1em = 16px
    // 600px = 600 / 16
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // 460px
    @media (min-width: 28.75em) {
      @content;
    }
  }
  @if $breakpoint == tab-port-large {
    // 660px
    @media (min-width: 41.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // 1100px
    @media (min-width: 68.75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1400px
    @media (min-width: 87.5em) {
      @content;
    }
  }
}

// General Layout

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.vertical-line {
  width: 0.1rem;
  height: 8.4rem;
  background-color: $color-grey;
  margin: 6.4rem auto 1.5rem auto;
  opacity: 0.25;

  @include respond(tab-port) {
    margin-top: 8rem;
  }

  @include respond(tab-land) {
    margin-top: 11rem;
  }
}

.number {
  display: inline;
  border: 1px solid rgba(135, 135, 158, 0.25);
  background-color: white;
  border-radius: 50%;
  color: $color-grey;
  font-size: 1.6rem;
  padding: 1.5rem;
  margin: 0 auto;
  font-weight: $font-weight-bold;
}

@mixin secondary-heading {
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: $font-weight-bold;
  width: 80%;
  margin: 0 auto;

  @include respond(tab-port) {
    font-size: 4rem;
    max-width: 43rem;
    line-height: 4.4rem;
  }
}

@mixin paragraph {
  font-size: 1.6rem;
  line-height: 2.6rem;
  // width: 90%;
  margin: 0 auto;
  max-width: 32.5rem;
  font-weight: $font-weight-light;
}

// Main section

main {
  text-align: center;

  @include respond(tab-land) {
    position: relative;
  }

  .image-logo {
    margin: 4.8rem 0 5.4rem 0;

    @include respond(tab-port) {
      margin-bottom: 6.4rem;
    }
  }

  .image-hero {
    background-image: url("../assets/tablet/image-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    // Very proud of this code
    height: 0;
    padding-top: 40%;

    @include respond(tab-port) {
      background-image: url("../assets/tablet/image-hero.png");
    }

    @include respond(tab-land) {
      background-image: url("../assets/desktop/image-hero-left.png"),
        url("../assets/desktop/image-hero-right.png");
      background-size: 27%, 27%;
      background-position: top 0rem left -3.3rem, bottom 0rem right -3.3rem;
      padding-top: 24.5%;
      // outline: 2px solid red;
      position: absolute;
      z-index: -1;
    }
  }

  .main__heading--primary {
    font-size: 4rem;
    line-height: 4.4rem;
    max-width: 26rem;
    margin: 4.8rem auto 0 auto;
    color: $color-dark;
    font-weight: $font-weight-bold;

    @include respond(tab-port) {
      font-size: 4.8rem;
      max-width: 32rem;
      margin-top: 7.2rem;
      line-height: 4.8rem;
    }

    @include respond(tab-land) {
      margin-top: 10.8rem;
      font-size: 6.4rem;
      max-width: 45rem;
      line-height: 6.4rem;
    }
  }

  .main__text--primary {
    @include paragraph();
    color: $color-grey;
    margin: 2.4rem auto 0 auto;
    max-width: 33rem;

    @include respond(tab-port) {
      max-width: 42rem;
    }

    @include respond(tab-land) {
      max-width: 54rem;
      font-size: 1.8rem;
      margin-top: 3.4rem;
    }
  }

  .main__buttons {
    margin: 3.2rem auto 0 auto;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      flex-direction: row;
      max-width: 34.8rem;
    }

    a {
      text-decoration: none;
      color: $color-light;
      font-size: 1.6rem;
      //   background-color: $color-secondary;
      border-radius: 50rem;
      margin: 0 auto;

      &:first-child {
        margin-bottom: 1.6rem;

        @include respond(tab-port) {
          margin: 0;
        }
      }

      &.buttons-download {
        background-color: $color-primary;
        padding: 1.6rem 4rem;

        span {
          color: $color-primary--light;
        }

        &:hover {
          background-color: $color-primary--hover;
        }
      }

      &.buttons-about {
        background-color: $color-secondary;
        padding: 1.6rem 2.9rem;

        &:hover {
          background-color: $color-secondary--hover;
        }
      }
    }
  }

  .image-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    // width: 100%;
    margin: 6.4rem 2.4rem 0 2.4rem;
    grid-row-gap: 2.5rem;
    grid-column-gap: 2.4rem;

    @include respond(tab-port-large) {
      // grid-row-start: 1;
      // grid-row-end: 2;
      // grid-template-columns: 4 / 1fr;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 1.1rem;
      margin: 8.2rem 4rem 0 4rem;
    }

    @include respond(tab-land) {
      margin: 7.9rem 16.5rem 0 16.5rem;
      grid-column-gap: 3rem;
    }

    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .main__heading--tertiary {
    text-transform: uppercase;
    color: $color-primary;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    margin-top: 6.4rem;
    @include respond(tab-port) {
      margin-top: 8.2rem;
    }

    @include respond(tab-land) {
      margin-top: 8rem;
    }
  }

  .main__heading--secondary {
    @include secondary-heading();
    margin-top: 2.4rem;
    color: $color-dark;

    @include respond(tab-port) {
      margin-top: 1.6rem;
    }
  }

  .main__secondary--paragraph {
    width: 80%;
    margin: 0 auto;

    .main__text--secondary {
      @include paragraph();
      color: $color-grey;
      margin-top: 3.2rem;

      @include respond(tab-port) {
        max-width: 58rem;
        margin: 3.2rem auto 0 auto;
      }

      @include respond(tab-land) {
        font-size: 1.8rem;
        max-width: 52rem;
      }
    }
  }
}

// Footer section

footer {
  text-align: center;
  position: relative;
  z-index: 1;

  .footer-number {
    top: -11rem;
  }

  .vertical-line--footer {
    margin-top: 7.2rem;
  }

  .footer-overlay {
    position: absolute;
    top: 11rem;
    width: 100%;
    z-index: -1;
    min-height: 42.8rem;
    background: $color-primary;
    opacity: 0.9;

    @include respond(tab-land) {
      min-height: 30rem;
    }
  }

  .footer-background {
    position: absolute;
    top: 11rem;
    width: 100%;
    z-index: -2;
    min-height: 42.8rem;
    background-image: url("../assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include respond(tab-port) {
      background-image: url("../assets/tablet/image-footer.jpg");
    }

    @include respond(tab-land) {
      background-image: url("../assets/desktop/image-footer.jpg");
      min-height: 30rem;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      flex-direction: row;
      text-align: left;
      align-items: center;
      justify-content: space-between;
      max-width: 111rem;
      margin: 10.3rem auto 0 auto;
    }
  }

  .footer__heading {
    @include secondary-heading();
    margin-top: 7.9rem;
    color: $color-light;

    @include respond(tab-port) {
    }

    @include respond(tab-land) {
      margin: 0 0 0 1rem;
      width: 37.5rem;
    }
  }

  .footer__text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 2.4rem auto 0 auto;
    width: 80%;
    color: $color-light;
    font-weight: $font-weight-light;

    @include respond(tab-port) {
      max-width: 58rem;
      margin-top: 3.2rem;
    }

    @include respond(tab-land) {
      max-width: 35rem;
      margin: 0;
    }
  }

  .footer__buttons {
    margin: 3.2rem auto 0 auto;
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: $color-light;
    font-size: 1.6rem;
    background-color: $color-secondary;
    border-radius: 50rem;
    padding: 1.6rem 4rem;

    &:hover {
      background-color: $color-secondary--hover;
    }

    span {
      color: $color-secondary--light;
    }

    @include respond(tab-port) {
      margin-top: 4rem;
      // margin-right: 1rem;
    }

    @include respond(tab-land) {
      margin: 0 1rem 0 0;
    }
  }
}
